<launch>
    <arg name="ns" default="motor_driver" />
    <arg name="service_name" default="motor_driver_node/send_command" />

    <group ns="$(arg ns)">
        <node pkg="damiao_motor_driver"
              type="motor_cmd_bridge_node"
              name="motor_cmd_bridge"
              output="screen">
            <param name="service_name" value="$(arg service_name)" />
        </node>
    </group>
</launch>

