<?xml version="1.0" ?>
<launch>
  <arg name="id" default= "1" />
  <arg name="port" default= "/dev/ttyUSB2" />
  <arg name="baud" default= "115200" />
  <arg name="test_flag" default= "1" />
  <arg name="Serial_flag" default= "1" />

  <node name="inspire_hand" pkg="inspire_hand" type="inspire_hand" output="screen">
    <param name="hand_id" value="$(arg id)" />
    <param name="portname" value="$(arg port)" />
    <param name="baudrate" value="$(arg baud)" />
    <param name="test_flags" value="$(arg test_flag)" />
    <param name="Serial_flags" value="$(arg Serial_flag)" />
  </node>
  
</launch>

